<footer class="footer-distributed">

    <div class="footer-right">

        <a href="#"><fa-icon [icon]="facebook"></fa-icon></a>
        <a href="#"><fa-icon [icon]="twitter"></fa-icon></a>
        <a href="#"><fa-icon [icon]="linkedIn"></fa-icon></a>
        <a href="#"><fa-icon [icon]="github"></fa-icon></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">Pricing</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contact</a>
        </p>

        <p>Company Name &copy; 2015</p>
    </div>

</footer>

